.sidebar {
    width: 230px;
    float: left;
    margin-top: 4px;
    
.widget-link.active {
    background: #f6f8fe;
    border-right: 3px solid #F48024;
}    
a.widget-link {
    display: block;
    margin-bottom: 4px;
    padding: 4px;
}
.zag {
    margin: 12px 0 6px 7px;
}

.badge-wrapper.bullet .badge-category-bg {
    display: none;
}
.badge-wrapper {
    font-weight: normal;
}
.widget-link.active i.fa, a.widget-link:hover, .badge-wrapper.bullet span.badge-category:hover {
    color: #e45735;
}
.oglavl {
    display: inline-block;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}
.cat-link {
    margin: 0 0 9px 8px;
    font-size: 16px;
    position: relative;
    display: block;
}
hr {
    width: 70%;
    margin-left: 25px;
}
.sidebar-custom-content {
    color:#666;
}
}
.container.list-container.has-sidebar {
    width: calc(100% - 231px);
    float: right;
    border-left: 1px solid #d6d9dc;
}
